/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #762727;
    color: #f8f0f0;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

header strong {
    font-weight: bold;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh; 
}

.plane-selection {
    width: 300px;
}

.select-plane {
    font-size: 18px; 
    margin-top: 0;
}

#planeInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#planeList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 200px; /* Set a fixed height */
    overflow-y: scroll; /* Add vertical scroll */
}

#planeList li {
    padding: 10px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ccc;
    cursor: pointer;

}

#planeList li:hover {
    background-color: #e5e5e5;

}
.group-info {
    background-color: #762727;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    padding: 10px;
    position: relative;
    bottom: 400px; 
    left: calc(95% + -25px); 
    transform: translateX(-50%);
    width: 210px; 
    height: 210px; 
    font-size: 20px; 
}


.group-name {
    font-size: 24px; 
}

.graph-selection {
    width: 300px;
    position: relative;
    bottom: 70px;
    left: calc(80% + -50px); 
    transform: translateX(-50%);
}

.select-graph{
    font-size: 18px; 
    margin-top: 0;
}

#graphInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#graphList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 200px; 
    overflow-y: scroll; 
}

#graphList li {
    padding: 10px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ccc;
    cursor: pointer;

}

#graphList li:hover {
    background-color: #e5e5e5;

}

#output, #output2 {
    display: none;
    width: 50%;
    vertical-align: top;
    padding: 5px;
    box-sizing: border-box;
    visibility: hidden;
}

.button{

    position: relative;
    bottom: 50px;
    left: calc(80% + -50px); 
    transform: translateX(-50%);
    width: 100px; 
    height: 10px; 
    font-size: 20px; 

}

nav{
    width: 80%;
    position: sticky;
    margin: 20px auto;
    z-index: 1;
    display: flex;
    align-items: center;
}
.logo img {
    width: 200px; 
}

.logo{
    flex-basis: 20%;

}
.logo figure{
    width: 20 px;
    margin-left: 100 px;
}

.nav-links{
    flex:1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
.select-plane img {
    vertical-align: center ; 
    margin-left: 1000 px; 
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
}
.plane-properties {
    
    position: relative;
    width: 500px;
    bottom: 85px;

    left: 10px;

    display: flex;
    visibility: hidden;
    justify-content: space-between;

}

.property-box {
    width: 100%; 
    margin-bottom: 10px; 
    padding: 10px;
    background-color: #ffffff;
    border: 5px solid #ccc;
    box-sizing: border-box;
}



/* Adjust the width and padding of the text inside property boxes */
.property-box p {
    padding: 10px;
    font-size: 15px;
}

/* Adjust the font size of strong elements */
.property-box strong {
    font-size: 35px; /* Adjust as needed */
}

/* Ensure spans inside property boxes fill the entire width */
.property-box span {
    width: 50%;
    display: inline-block;
}


#map {
    position: relative; /* Set position to relative */
    bottom: 760px; /* Reset bottom property */
    width: 500px; /* Set the width of the map */
    height: 250px;
    left: 10px; /* Set a height for the map */
    z-index: 1000; /* Ensure it appears above other content */
}




