/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #762727;
    color: #f8f0f0;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

header strong {
    font-weight: bold;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh; /* Adjusted height */
}

.plane-selection {
    width: 300px;
}

.select-plane {
    font-size: 18px; /* Adjusted font size */
    margin-top: 0;
}

#planeInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#planeList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 200px; /* Set a fixed height */
    overflow-y: scroll; /* Add vertical scroll */
}

#planeList li {
    padding: 10px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ccc;
    cursor: pointer;

}

#planeList li:hover {
    background-color: #e5e5e5;

}

footer {
    background-color: #ba1b1b;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
}

.group-name {
    font-size: 24px; /* Adjusted font size */
}

.graph-selection {
    width: 300px;
    position: fixed;
    bottom: 20px;
    left: calc(75% + 10px); /* Adjust as needed */
    transform: translateX(-50%);
}

.select-graph{
    font-size: 18px; /* Adjusted font size */
    margin-top: 0;
}

#graphInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#graphList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 200px; /* Set a fixed height */
    overflow-y: scroll; /* Add vertical scroll */
}

#graphList li {
    padding: 10px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ccc;
    cursor: pointer;

}

#graphList li:hover {
    background-color: #e5e5e5;

}

#output, #output2 {
    display: 0; /* Initially hide the divs */
    width: 50%;
    vertical-align: top;
    padding: 5px;
    box-sizing: border-box;
}

.button{

    position: fixed;
    bottom: 250px;
    right: 0;
    width: 150px; /* Set the width of the button */
    height: 50px; /* Set the height of the button */
    font-size: 100px; /* Set the font size of the button text */

}

nav{
    width: 80%;
    position: sticky;
    margin: 20px auto;
    z-index: 1;
    display: flex;
    align-items: center;
}
.logo img {
    width: 200px; /* Adjust logo size as needed */
}

.logo{
    flex-basis: 20%;

}
.logo figure{
    width: 20 px;
    margin-left: 100 px;
}

.nav-links{
    flex:1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
.select-plane img {
    vertical-align: center ; /* Align the image vertically with text */
    margin-left: 1000 px; /* Add some spacing between text and image */
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
}
.plane-properties {
    
    position: fixed;

    bottom: 10px;

    left: 10px;

    display: flex;
    visibility: hidden;
    justify-content: space-between;

}

.property-box {
    width: calc(8%); /* Adjusted width */
    margin-bottom: 10px; /* Added margin between boxes */
    padding: 10px;
    background-color: #ffffff;
    border: 5px solid #ccc;
    box-sizing: border-box;
}

.property-box {
    width: 100%; /* Each box takes up the full width of its container */
    margin-bottom: 10px; /* Add some spacing between the boxes */
}

/* Adjust the width and padding of the text inside property boxes */
.property-box p {
    padding: 10px;
    font-size: 15px;
}

/* Adjust the font size of strong elements */
.property-box strong {
    font-size: 35px; /* Adjust as needed */
}

/* Ensure spans inside property boxes fill the entire width */
.property-box span {
    width: 50%;
    display: inline-block;
}

#map {
    height: 200px; /* Set a height for the map */
    width: 100px;
    margin-top: 200px; /* Add some margin to separate the map from the property boxes */
}





