/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #762727;
    color: #f8f0f0;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

header strong {
    font-weight: bold;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh; /* Adjusted height */
}

.plane-selection {
    width: 300px;
}

.select-plane {
    font-size: 18px; /* Adjusted font size */
    margin-top: 0;
}

#planeInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#planeList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 200px; /* Set a fixed height */
    overflow-y: scroll; /* Add vertical scroll */
}

#planeList li {
    padding: 10px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    
}

#planeList li:hover {
    background-color: #e5e5e5;
    
}

footer {
    background-color: #ba1b1b;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
}

.group-name {
    font-size: 24px; /* Adjusted font size */
}
